html {
    background-image: none;
   accent-color: #005596;
    margin: 0;
}
body {
    margin-top: 0; background-color: #eee;

}
header {padding-top:30px !important;padding-bottom:8px !important;}
a, a:visited{color:#005596}
#container {
    border: 0px;
    margin: 0px !important;
    width: 100% !important; 
}
@media (min-width: 37.5em) {
  #container {
    margin: 0 auto 0px auto;
    box-shadow: none;
    padding: 0px;width: 100% !important;
  }
}
@media (max-width: 37.5em) {
li.twoColumns div span, li.threeColumns div span, li.notStacked div span{width:100% !important;}
{width:100%;margin:0 5px 0 0}
}

}#logo{background-image:none;background-color:transparent;}

#logo a {background-image:url('https://business.rice.edu/sites/default/files/RiceBusiness-transparent-logo-sm.png') !important;min-height:0;height:100px !important;background-size: 300px 70px; margin:10px !important;}
label.desc,legend.desc{font-size:130% !important;text-align:left !important;}

form.wufoo {
    margin: 3em 1em !important;
    padding: 0 30px;
}
@media (min-width: 37.5em) {
  form.wufoo {
    margin: auto !important;
max-width:700px; 
   
  }  }
.wufoo .info {
    border-bottom: 1px dotted #c3cdd5;
    padding: 0 0 24px 0;
}
.wufoo .section h3,
.wufoo .captcha,
#payment .paging-context {
    border-bottom: 1px dotted #c3cdd5;
}
.wufoo .info h2 {
   font-family:'proxima-nova-condensed';font-style:normal;font-weight:800;color:#505151 !important;text-transform: uppercase;
}
@media (min-width: 37.5em) {
  .wufoo .info h2 {
      font-size: 2.7em !important;
      line-height: 1.2;
  }
}
.wufoo .info div {
  font-size: 1.3em !important;
  color: #2C2A29;
  line-height: 1.5;
  margin: 0 0 0em;
}
.wufoo .info,
.wufoo .page-context {
    border-bottom: 0px dotted #c3cdd5;
}
.wufoo ul li {
    margin-bottom: 8px;
    width: 90%;
}
form ul li.paging-context {
    margin: 0 0 1em 0;
    max-width: 100%;
}
form li {
    padding: 8px 0;
}
form li.focused .instruct, form li:hover .instruct {
    left: 0;
}
.wufoo li.focused {
    background-color: transparent !important;
}
form ul {
    margin-top: 0px;
}
.pgStyle1 var {
    border: 1px solid #CCC;
    width: 24px;
    height: 24px;
    line-height: 23px;
    text-align: center;
    font-size: 83% !important;
    font-style: normal;
    border-radius: 20px;
    -o-box-shadow: none;
    box-shadow: none;
}
.pgStyle1 .selected var {
    border: 1px solid #e2d8cb;
}
.pgStyle1 .selected var,
.pgStyle2 var,
.pgStyle2 var em {
    background-color: #fffce5;
    color: #4B3D2A;
}
.pgStyle1 var,
.pgStyle2 var,
.pgStyle2 em,
.page1 .pgStyle2 var,
.pgStyle1 b,
.wufoo .buttons .marker {
    color: #4B3D2A;
    top: -20px;
}
.pgStyle1 b {
    font-size: 90% !important;
}
.pgStyle1 var, .pgStyle2 td {
    border: 1px solid #c3cdd5;
}

.wufoo label.desc,
.wufoo legend.desc {
    font-size: 1.4em !important;
    color: #002855;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.3;
}
@media (min-width: 37.5em) {
  .wufoo label.desc,
  .wufoo legend.desc {
      font-size: 18px !important; font-weight:700
  }
}
form span.req {
    color: #BE3A34 !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: .65em !important;
}
form span.req:after {
  content: "REQUIRED";
}
.wufoo input.text,
.wufoo textarea.textarea {
    background: #fcfcfd;
}
.wufoo .instruct {
    font-size: 1.1em !important;
    border: 0;
    background-color: transparent;
    visibility: visible;
    float: left;
    opacity: 1;
    left: 0;
    margin: 0;
    padding: 3px 0;
    font-style: italic;
    width: 100%;
    position: relative;
    z-index: 0;
}
.wufoo .instruct small {
    font-style: italic;
    color: #333F48;
    font-size: 1em;
    line-height: 1.4;
}
.wufoo input.text,
.wufoo textarea.textarea {
    color: #2c2a29;
    background: #fcfcfc;
    border-radius: 3px;
    padding: 12px;
    font-size: 16px !important;
    line-height: 1.4;
}
@media (min-width: 37.5em) {
  .wufoo input.text,
  .wufoo textarea.textarea {
    margin-right: 3px;
  }
}
.wufoo li div,
.wufoo li div label,
.wufoo li span label {
    width: auto;
    font-size: 14px !important;
    line-height: 1.2;
}
form li div span {
    margin: 0;
    margin: 0 0 16px 4px;
}
input.checkbox,
input.radio,
.wufoo label.choice {
    display: inline;
}
label.choice {
  margin: -17px 0 0 6px;
}
li div span {
  font-size: 16px !important; font-weight:400 !important;margin-bottom:10px !important;
}
.wufoo select.select,
.wufoo label.choice {
    font-size: 16px !important;
    line-height: 1.2;
}
li fieldset div {
    margin-top: .6em;
}

li.notStacked div span {
    margin: 0 6px 16px 4px;
}
.wufoo .section h3 {
    font-size: 22px !important;
    font-weight: bold;
    font-family: inherit;
    padding: 0px !important;
    margin-bottom: 10px !important;
    border: 0;
}
.safari select.select,
select.select {
    font-size: 16px !important;
}
span.symbol {
    font-size: 18px !important;
    line-height: 1.4;
    margin: 14px 6px 0 1px;
}
form li .datepicker {
    float: left;
    margin: 0 5px 0 3px;
    padding: 0;
    width: 21px;
    height: 21px;
    cursor: pointer !important;
}
form li.complex div span.left,
form li.complex div span.right {
    margin: 0 0 10px;
    width: 100%;
}
@media (min-width: 37.5em) {
  form li.complex div span.left,
  form li.complex div span.right {
      margin: 0 0 10px;
      width: 44%;
  }
}

form li.error {
    background-color: #FFDFDF !important;
    margin-bottom: 3px !important;
}
#errorLi,
.error-container {
    width: 94%;
    margin: 24px 0;
    background: #fff !important;
    border: 3px solid #BE3A34;
    text-align: center;
    padding: 24px 3px;
    border-radius: 3px;
    border-left: 18px solid #BE3A34;
}
#errorMsgLbl {
    margin: 0;
    font-size: 180% !important;
    color: #BE3A34 !important;
}
#errorMsg {
    margin: 0;
    color: #2C2A29 !important;
    font-size: 140% !important;
    padding: 7px 0 0 0;
}
#errorMsg b {
    padding: 0;
    color: #be3a34 !important;
    border-radius: 0;
}
form li.error .desc {
    color: #be3a34 !important;
}
form li.error {
    background-color: transparent !important;
    margin-bottom: 9px !important;
    border-left: 18px solid #BE3A34;
    padding-left: 12px;
    width: 80%;
}
form p.error {
    padding: 6px 0 12px 0 !important;
    line-height: 15px !important;
    font-size: 16px !important;
    color: #BE3A34 !important;
}
.wufoo .section div {
    font-size: 16px !important;
    color: #2C2A29;
    margin: 0 0 24px 0;font-weight:400;
}
form li.likert {
    margin: 0;
    padding: inherit;
    width: auto !important;
    clear: both !important;
    float: none !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
@media (min-width: 37.5em) {
  form li.likert {
    overflow-x: visible;
    overflow-y: visible;
    white-space: normal;
}
  }
}
.likert caption,
.likert tbody th label {
  font-size: 16px !important;
}
.likert table,
.likert th,
.likert td {
  border-color: #c3cdd5;
}
.likert table {
  border: 1px solid #c3cdd5;
}
.likert caption,
.likert thead td,
.likert tbody th label {
  color: #2C2A29;
}
.likert caption {
  line-height: 1.4;
}
.likert thead td,
.likert thead th {
    background-color: #e7ebee;
}
.likert th, .likert td {
    border-bottom: 1px solid #c3cdd5;
}
.likert thead td {
    font-size: 12px !important;
    padding: 12px 6px;
}
.likert td {
    border-left: 1px solid #c3cdd5;
}
.likert tbody th {
    padding: 12px;
}
.likert tbody tr.alt td, .likert tbody tr.alt th {
    background-color: #f6f7f9 !important;
}
















form li div{margin:0;padding:0; width:97%;}h3{padding:30px 0 10px !important;}

a.btTxt {
  background-color: #005596;
  border: 1px solid #005596;
  color: white;
  padding: 11px 45px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px !important;border-radius:5% !important;
}
.btTxt:hover {
  background-color: #ffffff; /* Green */
  border: 1px solid #235591;
  color: #235591;
  padding: 17px 60px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px !important;border-radius:5% !important;cursor:pointer;
}

.submit{display:none;}
